body {
    margin: 2em;
    color: #c7d1cb;
    background-color: #3c3c3c;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #a6e1ec;
}

.danger {
    color: #b92c28;
}

.selected {
    font-size: large;
}

.badge {
    display: inline-block;
    font-size: small;
    color: white;
    background-color: #ed6a13;
    padding: 0.2em 0.3em 0.2em 0.3em;
    margin: 0.8em 0 0.8em 0;
    border-radius: 4px 4px 4px 4px;
}

li:hover {
    font-size: larger;
    cursor: hand;
}

a.remove:hover {
    background-color: red;
    color: white;
    cursor: hand;
}

a.badge:hover {
    cursor: hand;
}

a.badge:active {
    background-color: #ff0430;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #7f7f7f;
}
nav a:visited, a:link {
    color: #2c2c2c;
}
nav a:hover {
    color: #101010;
    background-color: #CFD8DC;
}
nav a.router-link-active {
    color: #101010;
    background-color: #c4c4c4;
}
